
/* h1.what-build-header{
    text-align: center;
    margin: 20px 0px 30px;
    font-size: 38px;
    font-weight: 800;
    margin-top: 130px;
    color: #FFF;
} */


section.wrap-speacilizations{
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

article.what-build{
    flex-basis: 28%;
    background-color: #fff;
    padding: 18px 20px;
}

article.what-build img{
    width: 45px;
}

article.what-build h2{
    font-weight: 800;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}

article.what-build p{
    color: #000;
    font-family: "Heebo", Sans-serif;
    font-size: 18px;
    font-weight: 500;
}

article.what-build a{
    font-weight: 500;
    display: inline-block;
    fill: #F03E9A;
    color: #F03E9A;
    background-color: #FCD3E9;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-family: "Heebo", Sans-serif;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

article.what-build a:hover{
    transform: scale(1.12);
}