*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.customers-reviews{
    margin-top: 117px;
}

section.customers-reviews h2{
    text-align: center;
    font-size: 34px;
}

div.yuotube-wrap{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 40px;
    margin-top: 30px;
    /* flex-wrap: wrap; */
}

div.yuotube-wrap .youtube-player{
    flex-basis: 33%;
    aspect-ratio: 16 / 9;
    width: 33%;
    height: auto;
}

/* youtube componenet */
div.cover-img{
    background: url('images/youtube-bg.png') no-repeat center center;
    background-size: cover;
    
}

/* revirews component */
section.wrap-reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 15px;
    padding: 20px 40px;
    margin-top: 10px;
}

article.site-reviews{
    background-color: #fff;
    border-radius: 0px 8px 8px 8px;
    border-style: solid;
    border-width: 1px 7px 7px 1px;
    border-color: #4783A0;
    transition: background-color 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    min-height: 340px;
}

article.site-reviews h2{
    color: #4783A0;
    font-size: 21px;
    font-weight: 600;
}

article.site-reviews h3{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0px;
}

article.site-reviews p{
    color: #000;
    font-size: 16px;
    line-height: 1.7;
}