@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

body, html{
  font-family: 'Heebo', sans-serif;
}

.page-header{
  text-align: center;
  margin: 20px 0px 30px;
  font-weight: 800;
  margin-top: 130px;
  font-size: 34px;
}

.site-container-bg-img .page-header{
  color: #FFF;
}